<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners> 
<listener class-name="mylistners.JALAlistners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="jalaacademy.LOGIN_JALA"/>
      <class name="jalaacademy.JALA_MORE_OPTIONS"/>
      <class name="jalaacademy.JALASEARCHEMPLOYERDETAILS"/>
      <class name="jalaacademy.JALAEMPLOYERDETAILS"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
